
<div class="card w-100 p-3 parent" align="center" style="height: 88vh;">

  <div class="card-body">
      <i class="fa fa-times-circle fa-5x" style="color: #198754;"></i>
      <br/><br/>
      <h1>Lo Sentimos</h1>

      <p>Su identidad no ha sido verificada correctamente, inténtelo nuevamente el día de mañana</p>
      <br/>
      <button type="button" class="btn btn-success w-100 p-3 button-prometeo" (click)="initial()">Continuar</button>
  </div>

  <div class="card-footer">
    Powered by <b class="color-prometeo"> Prometeo Labs </b>
  </div>

</div>

