
<div class="card w-100 p-3 parent" align="center" style="height: 88vh;">

  <div class="card-body">
      <i class="fas fa-spinner fa-5x fa-spin" style="color: #198754;"></i>
      <br/><br/>
      <h1>En proceso</h1>

      <p> Su Identidad esta siendo verificada...</p>
      <br/>

  </div>

  <div class="card-footer">
    Powered by <b class="color-prometeo"> Prometeo Labs </b>
  </div>

  <!-- <div class="card-footer text-center bg-transparent border-success">
    Powered by <b> Prometeo Labs </b>
  </div> -->

</div>


