<div class="d-flex">

  <!-- Sidebar -->
  <!-- <div class="bg-light border-right p3" id="sidebar">
  </div> -->
  <!-- End Sidebar -->

  <div class="container">

    <div class="row p-3">
      <div class="col">
        <div class="card h-auto d-inline-block w-100 p-3" align="center">
          <div class="card-body">
            <h1>Verificación de Identidad</h1>

            <div class="input-group mb-3 w-75">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Cédula">
                <label for="floatingInputGroup1">Cédula</label>
              </div>
              <span class="input-group-text">
                <i class="fa fa-user"></i>
              </span>
            </div>

            <div class="input-group mb-3 w-75">
              <div class="form-floating">
                <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Código Dactilar">
                <label for="floatingInputGroup1">Código Dactilar</label>
              </div>
              <span class="input-group-text">
                <i class="fa fa-user"></i>
              </span>
            </div>

            <button type="button" class="btn btn-success w-50 p-3">Ingresar</button>
          </div>
          <div class="h-100 d-inline-block"></div>
          <div class="h-100 d-inline-block"></div>
          <div class="h-100 d-inline-block"></div>
          <div class="card-footer text-center bg-transparent border-success">
            Powered by <b> Prometeo Labs </b>
          </div>
        </div>
      </div>
    </div>

    <div class="row p-3">
      <div class="col">
        <div class="card h-auto d-inline-block w-100 p-3" align="center">
          <h1>Verificación de Identidad</h1>
          <h3>Asegúrese de estar en un lugar iluminado</h3>
          <h3>Centre su rostro dentro del círculo</h3>
          <div class="col-md-12">
            <webcam [trigger]="invokeObservable" (imageCapture)="captureImg($event)"></webcam>
          </div>
          <div class="col-md-12">
            <button id="tomar-foto-btn" type="button" class="btn btn-success w-50 p-3" (click)="getSnapshot()">
              <i class="fa fa-camera"></i>
              Tomar Foto
            </button>
            <!-- <button class="btn btn-danger" (click)="getSnapshot()">
              Capture Image
            </button> -->
          </div>
          <div class="col-12">
            <div id="results"></div>
            <img [src]="webcamImage?.imageAsDataUrl" height="400px" />
          </div>
        </div>
      </div>
    </div>

  </div>
