
<div class="card w-100 p-3 parent" align="center" style="height: 88vh;">

  <div class="card-body">
      <i class="fa fa-check-circle fa-5x" style="color: #198754;"></i>
      <br/><br/>
      <h1>Gracias</h1>

      <p> Su Identidad ha sido verificada correctamente, continúe con el proceso en el chat</p>
      <br/>
      <button type="button" class="btn btn-success w-100 p-3 button-prometeo" (click)="initial()">Continuar</button>
  </div>

  <div class="card-footer">
    Powered by <b class="color-prometeo"> Prometeo Labs </b>
  </div>

  <!-- <div class="card-footer text-center bg-transparent border-success">
    Powered by <b> Prometeo Labs </b>
  </div> -->

</div>


